nav {
  background-color: #c3c1c1;
}

img {
  display: flex;
  align-self: left;
  justify-self: left;
}

ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: right;
  justify-content: right;
}

li {
  margin: 50px;
  list-style-type: none;
}

#home {
  position: sticky;
  top: 0;
  left: 0;
}

ul a {
  text-decoration: none;
  color: white;
}

a:hover {
  background-color:#b0b0b0;
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  margin: 0px 10px;
}